{% extends 'menu_bar.html' %}

{% block title %} Add notification {% endblock %}

{% block error %}
{% if error %}
    <div class="error">{{ error }}</div>
{% endif %}
{% endblock %}

{% block body %}
    <form class="form" action="{{ url_for('add_notification') }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
            <div>
                {{ field.label(class='label') }}
                {% if field.errors %}
                    {{ field(class="invalid") }}
                    <span>
                        {% for e in field.errors %}
                            {{ e }}
                        {% endfor %}
                    </span>
                {% else %}
                    <br class="br">
                    {{ field() }}
                {% endif %}
            </div>
        {% endfor %}

        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}