{% extends 'menu_bar.html' %}

{% block title %} Add group {% endblock %}

{% block error %}
{% if error %}
    <div class="error">{{ error }}</div>
{% endif %}
{% endblock %}

{% block body %}
    <form class="form" action="{{ url_for('add_group') }}" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
            <div>
                {{ field.label(class='label') }}
                {% if field.errors %}
                    {{ field(class="invalid") }}
                    <span>
                        {% for e in field.errors %}
                            {{ e }}
                        {% endfor %}
                    </span>
                {% else  %}
                    {% if field.name == 'title' %}
                        <br class="br">
                        {{ field(list='autotitle') }}
                        <datalist id="autotitle">
                            {% for title in titles %}
                                <option>{{ title[0] }}</option>
                            {% endfor %}
                        </datalist>
                    {% else %}
                        <br class="br">
                        {{ field() }}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}

        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}