{% extends 'menu_bar.html' %}

{% block title %} Add group {% endblock %}

{% block body %}
    <form action="{{ url_for('add_group') }}" method="post">
    {{ form.hidden_tag() }}

    {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
        <p> {{ field.label() }}
            {% if field.errors %}
                {{ field(class="invalid") }}
                <span>
                    {% for e in field.errors %}
                        {{ e }}
                    {% endfor %}
                </span>
            {% elise  %}
                {% if field.name == 'title' %}
                    {{ field(list='autotitle') }}
                    <datalist id="autotitle">
                        {% for title in titles %}
                            <option>{{ title[0] }}</option>
                        {% endfor %}
                    </datalist>
                {% else %}
                    {% field() %}
                {% endif %}
            {% endif %}
    {% endfor %}

    <p> {{ form.submit() }}
    </form>
{% endblock %}