{% extends 'menu_bar.html' %}

{% block title %} Approve groups {% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="{{ url_for ('static', filename = 'approve_groups.js') }}"></script>
{% endblock %}


{% block body %}
    <div>
        {% for group in groups %}
            <div class="total_{{ group.id }} form">
                <div>
                    <label class="approve_label">{{ group.title }}</label>
                    <br class="br">
                    {% if group.is_new == 1  %}
                        <input type=text list=autotitle>
                    {% else %}
                        <input type=text list=autotitle value="{{ group.title }}">
                    {% endif %}
                    <datalist id="autotitle">
                        {% for title in titles %}
                            <option>{{ title[0] }}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div>
                    <button class="approve_button" data-id="{{ group.id }}" data-approve="Yes">Approve</button>
                    <button class="approve_button" data-id="{{ group.id }}" data-approve="No">Disapprove</button>
                </div>
            </div>
        {% endfor %}
        {% if groups == [] %}
            <span class="title">Пока нет предложенных тем</span>
        {% endif %}
    </div>
{% endblock %}