{% extends 'menu_bar.html' %}

{% block title %} Approve songs {% endblock %}

{% block scripts %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="{{ url_for ('static', filename = 'approve_songs.js') }}"></script>
{% endblock %}


{% block body %}
    <div>
        {% for song in songs %}
            <div class="total_{{ song.id }} form">
                <div>
                    <label class="approve_label">{{ song.title }}</label>
                    <br class="br">
                    {% if song.is_new == 1  %}
                        <input type=text list=autotitle>
                    {% else %}
                        <input type=text list=autotitle value="{{ song.title }}">
                    {% endif %}
                    <datalist id="autotitle">
                        {% for title in titles %}
                            <option>{{ title[0] }}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div>
                    <label class="approve_label">{{ song.band }}</label>
                    {% if song.is_new == 1  %}
                        <input type=text list=auto>
                    {% else %}
                        <input type=text list=autoband value="{{ song.band }}">
                    {% endif %}
                    <datalist id="autoband">
                        {% for band in bands %}
                            <option>{{ band[0] }}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div>
                    <button class="approve_button" data-id="{{ song.id }}" data-approve="Yes">Approve</button>
                    <button class="approve_button" data-id="{{ song.id }}" data-approve="No">Disapprove</button>
                </div>
            </div>
        {% endfor %}
        {% if songs == [] %}
            <span class="title">Пока нет предложенных песен</span>
        {% endif %}
    </div>
{% endblock %}