{% extends 'menu_bar.html' %}

{% block title %} {{ event.title }} {% endblock %}

{% block body %}
    <div class="event_list">
        <div>
            <div class="event_member">
                <div>
                    <span class="title">{{ event.title }}</span>
                    <span class="time">{{ event.time.strftime("%A, %d. %B %Y %I:%M%p") }}</span>
                </div>
                {% if not (event.photo == None) %}
                    <img class="event_img" src="/event_img/{{ event.id }}">
                {% endif %}
                <div>
                    <span class="event_text">{{ event.text }}</span>
                </div>
                <br class="br">
                <br class="br">
            </div>
        </div>
    </div>
{% endblock %}