{% extends 'menu_bar.html' %}

{% block title %} Events {% endblock %}

{% block body %}
    <div class="event_list">
        <div>
            {% for event in events %}
                <div class="event_member">
                    <div>
                        <span class="title local">{{ event.title }}</span>
                    </div>
                    {% if not (event.photo == None) %}
                        <img class="event_img" src="/event_img/{{ event.id }}">
                    {% endif %}
                    <div>
                        <span class="event_text">{{ event.text }}</span>
                    </div>
                    <a class="event" href="/event/{{ event.id }}"></a>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}