{% extends 'menu_bar.html' %}

{% block title %} {{ group.title }} {% endblock %}

{% block body %}
    <div id="info">
        <span class="info-title">Название</span>
        <br class="br">
        <span class="info-meaning">{{ group.title }}</span>
        <br class="br">
        <span class="info-title">Песни</span>
        <br class="br">
        <div class="info-meaning">
            {% for song in songs %}
                <span>{{ song.title }}</span>
            {% endfor %}
        </div>
    </div>
{% endblock %}