<!DOCTYPE html>

<html lang=ru>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block scripts %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div>
            <h2>
                {% if current_user.is_anonymous and not current_user.is_authenticated %}
                    <a href="/sign_up">Зарегистрироваться</a>
                {% endif %}
                {% if current_user.is_anonymous and not current_user.is_authenticated %}
                    <a href="/log_in">Войти</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <a href="/log_out">Выйти</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <a href="/voting">Голосование</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <a href="/profile">Профиль</a>
                {% endif %}
                {% if current_user.is_authenticated and voting_songs_or_groups == 'groups' %}
                    <a href="/add_group">Предложить тему</a>
                {% endif %}
                {% if current_user.is_authenticated and voting_songs_or_groups == 'groups' and current_user.get_position() in ['admin', 'chief'] %}
                    <a href="/approve_groups">Проверить темы</a>
                {% endif %}
                {% if current_user.is_authenticated and voting_songs_or_groups == 'songs' %}
                    <a href="/add_song">Предложить песню</a>
                {% endif %}
                {% if current_user.is_authenticated and voting_songs_or_groups == 'songs' and current_user.get_position() in ['admin', 'chief'] %}
                    <a href="/approve_songs">Проверить песни</a>
                {% endif %}
                {% if current_user.is_authenticated and current_user.get_position() in ['admin', 'chief'] %}
                    <a href="/change_voting">Завершить голосование</a>
                {% endif %}
            </h2>
            {% block bells %}{% endblock %}
        </div>
        <div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>