{% extends 'menu_bar.html' %}

{% block title %} Profile {% endblock %}

{% block body %}
    {% if error %}
        {{ error }}
    {% endif %}
    <form class="form" action="{{ url_for('sign_up') }}" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
            <div>
                {{ field.label(class='label') }}
                {% if field.errors %}
                    {{ field(class="invalid") }}
                    <span>
                        {% for e in field.errors %}
                            {{ e }}
                        {% endfor %}
                    </span>
                {% else %}
                    <br class="br">
                    {{ field() }}
                {% endif %}
            </div>
        {% endfor %}

        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}