{% extends 'menu_bar.html' %}

{% block title %} Регистрация {% endblock %}

{% block error %}
{% if error %}
    <div class="error">{{ error }}</div>
{% endif %}
{% endblock %}

{% block body %}
    <form class="form" action="{{ url_for('sign_up') }}" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
            <div>
                {{ field.label(class='label') }}
                <br class="br">
                {{ field() }}
            </div>
        {% endfor %}

        <div>
            {{ form.submit() }}
        </div>

        <br>
        <div>
            <a class="button" href="/log_in">Войти</a>
        </div>
    </form>
{% endblock %}